body{
    background-image: linear-gradient(to right, blue, red);

}
.espaço{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    float: left;
}

.tabuleiro{
    width: 252px;
    height: 252px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titulo{
    font: normal 25pt arial;
    text-align: center;
    padding: 9px;
    color: black;
}
.box{
    background-image: linear-gradient(to right, blue, green);
    height: 50px;
    width: 350px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
}
footer{
    position: absolute;
    top: 91%;
    width: 1290px;
    color: black;
}